<div id="parent_div_a">
<div id="MAIN_CONTAINER" style="margin-top:100px;border:2px solid black;padding:1em;background:white;">
	<h3 style="font-weight:bold;">2019 Walt Disney World® Theme Park Tickets</h3><img class="img-fluid" src="assets/img/maxresdefault.jpg">
	<div class="container">
		<div class="row">
			<div class="col col-12">
				<h4>Save up to $134 per Theme Park ticket with Careli Tours!<br></h4>
				<p><em>Walt Disney World</em>® Theme Park Tickets are offered&nbsp;<strong>exclusively through Careli Tours for
						Disney Sports participants and fans</strong>. Please see below to learn more about ticket options and significant
					savings.
					Then visit your Careli Tours Sport event page to purchase your tickets.&nbsp;<br></p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col col-12 col-md-4"><img src="assets/img/tpt_compare_base.png" style="width:100%;">
			<div class="BASE_TICKET_PLAN_CONTENT">
				<p><strong>Admission</strong><br>Visit one Theme Park per day.<br><br></p>
				<hr class="TICKET_FIELD_SEPARATOR">
				<p><strong><em>FastPass+</em>&nbsp;for Sports Teams</strong><br>My Disney Experience now available.<br></p>
				<hr class="TICKET_FIELD_SEPARATOR">
				<p><strong>Length of Ticket Options</strong><br>2-Day option.<br></p>
				<hr class="TICKET_FIELD_SEPARATOR">
				<p><strong>Plus Visits</strong><br>N/A<br></p>
				<hr class="TICKET_FIELD_SEPARATOR_B" style="background-color:rgb(136,139,141);">
				<a href="#baseTicket">
					<div class="DIV_BUTTON_FOR_PLAN">
						<h6>VIEW BASE TICKET OPTIONS &amp; PRICING</h6>
					</div>
				</a>
			</div>
		</div>
		<div class="col col-12 col-md-4"><img src="assets/img/tpt_compare_park_hopper.png" style="width:100%;">
			<div class="PARK_HOPPER_PLAN_CONTENT">
				<p><strong>Admission</strong><br>Same-day access to all four Theme Parks.<br></p>
				<hr class="TICKET_FIELD_SEPARATOR">
				<p><strong><em>FastPass+</em>&nbsp;for Sports Teams</strong><br>My Disney Experience now available.<br></p>
				<hr class="TICKET_FIELD_SEPARATOR">
				<p><strong>Length of Ticket Options</strong><br>2, 3, 4, 5-Day options.<br></p>
				<hr class="TICKET_FIELD_SEPARATOR">
				<p><strong>Plus Visits</strong><br>N/A<br></p>
				<hr class="TICKET_FIELD_SEPARATOR_B" style="background-color:rgb(136,139,141);">
				<div class="DIV_BUTTON_FOR_PLAN">
					<h6>VIEW PARK HOPPER TICKET OPTIONS &amp; PRICING</h6>
				</div>
			</div>
		</div>
		<div class="col col-12 col-md-4"><img src="assets/img/tpt_compare_plus.png" style="width:100%;">
			<div class="PARK_HOPPER_PLUS_PLAN_CONTENT">
				<p><strong>Admission</strong><br>Same-day access to all four Theme Parks.<br></p>
				<hr class="TICKET_FIELD_SEPARATOR">
				<p><strong><em>FastPass+</em>&nbsp;for Sports Teams</strong><br>My Disney Experience now available.<br></p>
				<hr class="TICKET_FIELD_SEPARATOR">
				<p><strong>Length of Ticket Options</strong><br>2, 3, 4, 5-Day options.<br></p>
				<hr class="TICKET_FIELD_SEPARATOR">
				<p><strong>Plus Visits</strong><br>N/A<br></p>
				<hr class="TICKET_FIELD_SEPARATOR_B" style="background-color:rgb(136,139,141);">
				<div class="DIV_BUTTON_FOR_PLAN">
					<h6>VIEW PARK HOPPER TICKET OPTIONS &amp; PRICING</h6>
				</div>
			</div>
		</div>
	</div>
	<hr style="background-color:black;">
	<div class="row">
		<div class="col col-12 col-md-6">
			<h4>Magic Your Way® Base Ticket<br></h4>
			<h6>Receive admission to one of four&nbsp;<em>Walt Disney World</em>®&nbsp;Theme Parks per day.<br></h6>
			<ul>
				<li>Magic Kingdom®&nbsp;Park<br></li>
				<li>Epcot®<br></li>
				<li>Disney’s Hollywood Studios<br></li>
				<li>Disney’s Animal Kingdom®&nbsp;Theme Park<br></li>
			</ul>
		</div>
		<div class="col" style="position:relative;min-height:250px;">
			<div class="VCENTER_CONTAINER">
				<div class="table-responsive">
					<table class="table table-striped">
						<tbody>
							<tr class="PLAN_SAVINGS_HEADER_ROW" style="font-weight:bold;">
								<td><br></td>
								<td>Price<br></td>
								<td>Save<br></td>
							</tr>
							<tr>
								<td><strong>2-Day</strong><br></td>
								<td>$212<br></td>
								<td>$11<br></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<hr style="background-color:black;">
	<div class="row">
		<div class="col col-12 col-md-6">
			<h4 class="PARK_HOPPER_PLAN_TITLE">Magic Your Way® Base Ticket with Park Hopper® Option<br></h4>
			<h6>Receive same-day access to all four&nbsp;<em>Walt Disney World</em>®&nbsp;Theme Parks per day.<br></h6><img
			 class="img-fluid" src="assets/img/Cinderelas-castle-crowd-vibrant-.jpeg">
		</div>
		<div class="col" style="position:relative;min-height:250px;">
			<div class="VCENTER_CONTAINER">
				<div class="table-responsive">
					<table class="table table-striped">
						<tbody>
							<tr class="PLAN_SAVINGS_HEADER_ROW" style="font-weight:bold;">
								<td><br></td>
								<td>Price<br></td>
								<td>Save<br></td>
							</tr>
							<tr>
								<td><strong>2-Day</strong><br></td>
								<td>$267<br></td>
								<td>$25<br></td>
							</tr>
							<tr>
								<td><strong>3-Day</strong><br></td>
								<td>$312<br></td>
								<td>$82<br></td>
							</tr>
							<tr id="HOPER_PLAN_HIGHLIGHTED_SAVINGS_ROW">
								<td><strong>4-Day</strong><br></td>
								<td>$360<br></td>
								<td>$125<br></td>
							</tr>
							<tr>
								<td><strong>5-Day</strong><br></td>
								<td>$412<br></td>
								<td>$89<br></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<hr style="background-color:black;">
	<div class="row">
		<div class="col col-12 col-md-6">
			<h4 class="PARK_HOPPER_PLUS_PLAN_TITLE">Magic Your Way® Base Ticket with Park Hopper® Plus Option<br></h4>
			<h6>Receive same-day access to all four&nbsp;<em>Walt Disney World</em>®&nbsp;Theme Parks per day PLUS visits to
				select destinations.<br></h6><img class="img-fluid" src="assets/img/teaser.jpeg.jpg">
		</div>
		<div class="col" style="position:relative;min-height:250px;">
			<div class="VCENTER_CONTAINER">
				<div class="table-responsive">
					<table class="table table-striped">
						<tbody>
							<tr class="PLAN_SAVINGS_HEADER_ROW" style="font-weight:bold;">
								<td><br></td>
								<td>Price<br></td>
								<td>Save<br></td>
							</tr>
							<tr>
								<td><strong>2-Day</strong><br></td>
								<td>$285<br></td>
								<td>$33<br></td>
							</tr>
							<tr>
								<td><strong>3-Day</strong><br></td>
								<td>$328<br></td>
								<td>$93<br></td>
							</tr>
							<tr id="HOPER_PLUS_PLAN_HIGHLIGHTED_SAVINGS_ROW">
								<td><strong>4-Day</strong><br></td>
								<td>$377<br></td>
								<td>$134<br></td>
							</tr>
							<tr>
								<td><strong>5-Day</strong><br></td>
								<td>$428<br></td>
								<td>$99<br></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
</div>