<div id="parent_de_div">
	<div id="MAIN_CONTAINER" style="margin-top:100px;">
		<div id="INTERNAL_CONTAINER" style="z-index:20;">
			<h1>La Experiencia Disney</h1>
			<h4>Ofrecida por Disney®<br></h4>
			<div class="container">
				<div class="row EVENTS_ROW">
					<div class="col col-12 col-md-6 EVENT_COLUMN">
						<div class="EVENT_IMAGE_CONTAINER"><img src="assets/img/Magical-Express-Logo2.jpg" style="right:40vh;">
							<div class="EVENT_TEXT_CONTAINER" style="position:relative;min-height:400px;">
								<h4 class="text-center">EXPRESO MÁGICO DE DISNES®</h4>
								<p class="text-center">
									Si vuelas al Aeropuerto Internacional de Orlando, podrás aprovechar
									el Expreso Mágico de Disney®, un servicio complementario que te
									transportará a tí, a tu equipo y el equipaje de tu equipo desde 
									el Aeropuerto Internacional de Orlando a tu Resort.
								</p
									><button class="btn btn-primary VIEW_ALL_EVENTS_BUTTON" type="button">APRENDER MÁS</button>
							</div>
						</div>
					</div>
					<div class="col col-12 col-md-6 EVENT_COLUMN">
						<div class="EVENT_IMAGE_CONTAINER"><img src="assets/img/Cinderelas-castle-crowd-vibrant-.jpeg">
							<div class="EVENT_TEXT_CONTAINER">
								<h4 class="text-center">
									PARQUES TEMÁTICOS DE WALT DISNEY WORLD®</h4>
								<p class="text-center">
									Sal del campo de juego al mágico mundo de Disney World® Resort.
									Cuando compitas en el complejo ESPN Wide World of Sports, tu viaje de deportes
									no termina cuando suena el último silvato.
									Experimenta el Resort de Clase Mundial de 
									Los Parques Temáticos de
									Walt Disney World®
									o relájate en las olas de la piscina y las
									atracciones acuáticas en dos increíbles Parques de Agua.
								</p><button class="btn btn-primary VIEW_ALL_EVENTS_BUTTON" type="button">APRENDER MÁS</button>
							</div>
						</div>
					</div>
				</div>
				<div class="row EVENTS_ROW">
					<div class="col col-12 col-md-12 EVENT_COLUMN">
						<div class="EVENT_IMAGE_CONTAINER">
							<div style="max-height:400px;position:relative;"><img src="assets/img/Disneys-Wide-World-of-Sports-1.jpg" style="min-width:100%;"></div>
							<div class="EVENT_TEXT_CONTAINER" style="min-height:0px;">
								<h4 class="text-center">COMPLEJO ESPN WIDE WORLD OF SPORTS</h4>
								<p class="text-center" style="margin-bottom:5em;">
									El complejo ESPN Wide World of Sports puede albergar
									más de 60 deportes a través de sus instalaciones de 
									clase mundial, diseñadas para darle a cada atleta
									la mejor experiencia de competición posible.
									Es la mejor de su clase en el mundo.</p><button class="btn btn-primary VIEW_ALL_EVENTS_BUTTON" type="button">APRENDER MÁS</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>