#parent_de_div {
  background-image: url("../../../../assets/img/gf-grounds.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  top: 0em;
  padding-top: 3em;
  padding-bottom: 3em;
}